h1,h2,h3{margin:0;padding:0;}
    
h2{
    text-align: right;
}
h3{
    text-align: center;
    margin: 2px auto ;
}
h3 a{
    font-size: 10px;
}
body{
    width : 1113px;
    height: 100%;
    margin:0 auto;padding:49px 7px 0 7px;
    background-color:#EFEFEF;
      
}
p{margin:0 0 7px;}

div.tower{
    float:left;
    width: 93px;
    margin: 0 3px;
    background-color: white;
}
p.brick{
    margin:0;padding:0;
    text-align: center;
    padding-top: 6px;
    height: 23px;
    width : 133px;
    border: 1px solid #888;
    border-top: none;
    border-bottom: 1px solid #333;
    margin: 0 auto;
    color:#FFF;
    text-shadow: 2px 2px 2px #282828;
    font-family:Ubuntu;
    border-radius:3px;
}

p.warning{
    background:yellow;padding: 8px 3px;
    -webkit-animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
    0%     { color: black; }
    70%    { color: black; }
    70.01% { color: yellow; }
    100%   { color: yellow; }
}
