<!doctype html>
<html lang="en" ng-app="SomeApp">
<head>
<meta charset="utf-8">
<title>Six Tower World Champion Maker</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>

<link rel="stylesheet" type="text/css" href="index.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
<script src="prelude-browser-min.js"></script>
<script src="TowerLogic.js"></script>
</head>
<body>
    <div ng-controller="TowerLogic">
        <p class="warning" style="display:none">
            Solver uses recursion and you haven't set a max depth.</p>
        <div class="tower" ng-repeat="tower in towers">
            <h3 style="margin-bottom:{{390-tower.bricks.length*30}}px"># {{tower.index+1}}
                 <a href="" ng-click="towerMove(tower.index)">Move</a></h3>

            <p class="brick" ng-repeat="brick in tower.bricks" style="width:{{((brick.n|numeric) +1)*11+3}}px;background-color:{{brick.color}}">
                {{brick.n}}</p></div>

        <div style="float:left;width:300px;margin-left:8px;">
            <h1></h1>
            <h2>Call Count: {{callCount}}</h2>
            <p><a href="" ng-click="newPuzzle()">Clear Board for Input</a></p>
            <p><a href="" ng-click="solve()">Solve</a></p>
            <p><a href="" ng-click="aiMove()">Move Once</a></p>
            <p>Penalty Points: {{penaltyPoints}} of 
                <input type="text" placeholder="max" style="font-size:inherit;width:35px;text-align:center;margin-left:4px" ng-model="penaltyMax"></p>

            <ul style="height:560px;overflow:scroll">
                <li ng-repeat="step in solution">Tower {{step.fromTower+1}} to Tower {{step.toTower+1}}</li></ul>
        </div>
    </div>
</body>
</html>
